.background-main{
	background-image: url(../back-main.jpg);
	background-attachment: fixed;
	background-position: cover;
	min-height: 82vh;
	color: whitesmoke;
	font-family: 'Montserrat', 'Roboto', 'Open Sans';
}
.button-order{
	background-color: #FFE000;
	color: black;
	height: 30px;
	width: 150px;
	border: 2px solid black;
	border-radius: 15px;
	font-weight: bold;
}

footer{
	background-color: black;
	height: 8vh;
	font-size: 12px;
}

p{
	font-size: 14px;
}

h2{
	font-size: 20px;
}
